.container{
    border: 2px solid black;
    width: 50%;
    margin: auto;
    padding-bottom: 3%;
    padding-left: 2%
}
.table{
    width: 80%;
    margin: auto;
    text-align: left;
}
th, td{
    padding: 1%;
    margin: 1%
}
table{
    font-size: 1.5em;
    overflow-x: auto;
}